<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='decision.css') }}">
    <title>識別結果</title>
</head>
<body>
    <div class="full-page">
        <!-- ホームボタン -->
        <div class="home">
            <a href="{{ url_for('show_home') }}">
                <img src="{{ url_for('static', filename='photo/ホーム.png') }}" id="hoverImage" alt="ホーム">
            </a>
        </div>

        <!-- メインコンテンツ -->
        <div class="probability">
            <!-- 予測結果のメッセージ -->
            <h4>{{ message }}</h4>
        </div>

        <div class="select-picture">
            <!-- アップロードされた画像を表示 -->
            {{ image | safe }}
        </div>
        <div class="boxtext">
            <p>
                <!-- ラベルと確率を昇順でリスト表示 -->
                {% for label, prob in predictions | sort(attribute=1, reverse=True) %}
                <strong>{{ label }}</strong>: {{ "%.1f"|format(prob * 100) }}%<br>
                {% endfor %}
            </p>
        </div>
        <div class="related-images">
            <h4>関連画像</h4>
            {% if related_images %}
                {% for related_image, img_path in related_images %}
                    <div>
                        <!-- Base64形式の画像を表示 -->
                        <img src="data:image/png;base64,{{ related_image }}" alt="関連画像">
                        <p>{{ img_path }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <p>関連画像が見つかりませんでした。</p>
            {% endif %}
        </div>        
    </div>
    <div class="emotion_details">
        <p>
            {% for emotion, confidence in emotion_details.items() %}
                <strong>{{ emotion }}</strong>: {{ "%.1f"|format(confidence) }}%<br>
            {% endfor %}
        </p>
    </div>
    <script src="{{ url_for('static', filename='decision.js') }}"></script>
</body>
</html>
